body {
  background-color: rgb(223, 62, 62);
  color: rgb(239, 212, 177);
  font-family: Tahoma, sans-serif;
}

h1{
    font-size: 80px;
    margin: 30px;
}

h4 {
  font-family: Verdana, sans-serif;
  background-color: gray;
  text-align: center;
  color: white;
  width: 220px;
  height: 20px;
  padding: 15px;
}

p {
  font-family: Verdana, sans-serif;
  font-size: 24px;
}

li {
  font-size: 20px;
}

a {
  padding: 5px;
  font-family: "Courier new", sans-serif;
  text-decoration: none;
  font-weight: bold;
  background-color: antiquewhite;
}
