body {
  background-color: antiquewhite;
}

h1 {
  font-family: Tahoma, sans-serif;
  font-size: 80px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: black;
  color: white;
  padding: 2px;
  border-radius: 10%;
}

ul {
  display: block;
  text-align: center;
  list-style-type: none;
  padding: 10px;
}

#container {
  width: 800px;
  height: 600px;
  background-color: white;
  padding: 30px;
  border-radius: 20%;
  margin: 30px auto;
  text-align: center;
}

.odin {
  border-radius: 10%;
  display: block;
  margin: 8px auto;
}
.menu {
  font-family: "Courier new", sans-serif;
  margin: 10px;
}
